$c0: #ffffff;
$c0-100: #ebf7ff;
$c0-200: #d3d3d4;
$c0-300: #f6f6ff;
$c0-400: #ecfcfc;
$c0-500: #eff0fa;
$c0-600: #eff0fb;
$c0-700: #f8f5fa;
$c0-800: #fafafb;
$c0-900: #c7c7d5;


$c1: #faf6e5;
$c1-600: #fccb3d;

$c2: #e7f6fa;
$c2-100: #d3d3d4;

$c2-100: #00cfff;
$c2-200: #49ccff;
$c2-400: #007afe;
$c2-800: #000248;

$c3: #702ffe;

$c4: #fcf0ee;
$c4-100: #fdefed;
$c4-200: #ff8a5a;
$c4-400: #c06b49;

$c5-200: #20a7cb;

$c6: #ecfaf4;
$c6-100: #dcfcf9;
$c6-200: #5ccc9f;
$c6-400: #00ce9a;
$c6-600: #19b286;
$c6-800: #29483d;



$c8: rgb(236, 250, 244);
$c8-100: rgb(237, 228, 252);
$c8-200: rgb(255, 243, 238);
$c8-300: rgb(236, 250, 254);
$c8-800: rgba(117, 117, 117, 0.2);

$c9: #858591;
$c9-100: #757589;
$c9-400: #52526c;
$c9-600: #212529;
$c9-700: #242526;
$c9-800: #18191a;


$text-xxs: 0.6rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-nmd: 1.1rem;
$text-md: 1.5rem;
$text-nlg: 1.75rem;
$text-lg: 2rem;
$text-mlg: 2.5rem;
$text-xl: 3rem;
$text-xxl: 3.5rem;
$text-3xl: 4rem;
$text-5xl: 5rem;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$sp-1: 0.25rem;
$sp-2: 0.5rem;
$sp-3: 0.75rem;
$sp-4: 1rem;
$sp-5: 1.25rem;
$sp-6: 1.5rem;
$sp-7: 1.75rem;
$sp-8: 2rem;
$sp-9: 2.25rem;
$sp-10: 2.5rem;
$sp-12: 3rem;
$sp-14: 3.5rem;
$sp-15: 3.75rem;
$sp-16: 4rem;
$sp-18: 4.5rem;
$sp-20: 5rem;
$sp-22: 5.5rem;
$sp-23: 5.75rem;
$sp-24: 6rem;
$sp-26: 6.5rem;
$sp-28: 7rem;
$sp-29: 7.25rem;
$sp-31: 7.75rem;
$sp-32: 8rem;
$sp-52: 13rem;
$sp-56: 14rem;
$sp-60: 15rem;
$sp-64: 16rem;
$sp-72: 18rem;